<div class="popUp">
  <div class="window" (click)="(null)">
    <div class="container">
      <label for="wheelRad">Wheel Radius (inches): </label>
      <input
        #wheelRad
        id="wheelRad"
        type="double"
        min="0"
        value="{{ this.wheelRadius || 3 }}"
      />
      <br />
      <label for="ratio">ratio for the box at the bottom right: </label>
      <input
        #ratio
        id="ratio"
        type="number"
        min="0"
        max="0.5"
        value="{{ this.ratio || 0.2 }}"
        step="0.01"
      />
      <br />
      <br />
      <br />

      <button id="udpate" (click)="comfirmBut(wheelRad.value, ratio.value)">
        Udpate
      </button>
      <button id="close" (click)="cancelBut()">Close</button>
    </div>
  </div>
</div>
